@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

[data-theme="dark"] {
          --bg: #0b0f19;
          --text: #e5e7eb;
          --lightShade: #121628;
          --darkShade: #04060a;

}

[data-theme="light"] {
          --bg: #e0e0e0;
          --text: black;
          --lightShade: #f1f1f1;
          --darkShade: #cbcbcb;

}

Body {
          color: var(--text);
          background: var(--bg);
          width: 100vw;
          height: 100vh;
          margin: 0px;

}


pre {
          padding: 10px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: var(--lightShade);
          border-radius: 6px;
}

#mainContainer {
          display: flex;
          width: 100%;
          height: 100%;
}

.subContainer {

          width: 100%;
          height: 99%;
          display: flex;
          flex-direction: column;
          gap: 2%;
          align-items: center;
          justify-content: center;
}

.nav {
          margin-top: 20px;
          height: 8%;
          width: 97%;
          border-radius: 20px;
          background: var(--bg);
          box-shadow: 14px 14px 16px var(--darkShade),
                    -14px -14px 16px var(--lightShade);

}

#output {
          height: 100%;
          overflow: hidden;
          overflow-y: auto;
}

#input,
#outputContainer {
          background: var(--bg);
          box-shadow: inset 14px 14px 16px var(--darkShade),
                    inset -14px -14px 16px var(--lightShade);
          width: 97%;
          height: 93%;
          border-radius: 20px;
          color: var(--text);
          overflow: hidden;
          padding: 40px;
          box-sizing: border-box;
}

.nav h1 {
          font-family: "Roboto", sans-serif;
          text-align: center;
          color: var(--text);
}

textarea {
          background: none;
          overflow: auto;
          overflow-x: auto;
          color: var(--text);
          outline: none;
          border: none;
          text-align: left;

          resize: none;
          width: 100%;
          height: 100%;
}

::-webkit-scrollbar {

          width: 6px;

}

::-webkit-scrollbar-thumb {

          background: #4fd1ff;

          border-radius: 10px;

}

@media screen and (max-width:767px) {
#mainContainer {
                    display: block;
                    width: 100%;
                    height: 100%;
          }
          
}